ul.breadcrumb {
  //   background-color: red;
  --space: 10px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: var(--space);
  color: white;
  li {
    font-size: 1.5em;
    text-transform: uppercase;
    ::after {
      content: "/";
      margin-left: var(--space);
      display: inline-block;
    }
  }
}
