.tracking-status-list {
  .status {
    position: relative;

    &:not(&:last-child) {
      padding-bottom: 1em;
    }

    &.passed {
      &::before {
        content: "";
        background-image: url(../assets/icons/icon-tick-primary.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        position: absolute;
        left: -12px;
        background-color: var(--clr-secondary-200);
        border: 4px solid var(--clr-secondary-200);
        color: #ffffff;
        border-radius: 50%;
      }
    }

    &.current {
      &::before {
        content: "";
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        position: absolute;
        left: -12px;
        background-color: var(--clr-primary);
        // border: 4px solid #ffffff;
        border-radius: 50%;
        // inset: ;

        // background-color: #ffd700; /* Inner layer color */
        border-radius: 50%;
        // box-shadow: 0 0 0 3px #ff8c00,
        box-shadow: 0 0 0 3px #ffffff,
          /* Middle layer (border color) */ 0 0 0 5px var(--clr-primary); /* Outer layer (outermost color) */
      }
    }
  }
}
