.notification-list {
    max-height: 300px;
    overflow-y: auto;
  li {
    &:not(&:last-child) {
      a {
        border-bottom: 1px solid var(--clr-baseText);
      }
    }

    a {
      padding-right: 20px;
      &::after {
        content: "";
        display: block;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        position: absolute;
        right: 10px;
        background-color: white;
      }
      &:not(&:visited) {
        color: var(--clr-primary);
        &::after {
          background-color: var(--clr-primary);
        }
      }
    }
  }
}
