.notification-list {
  // max-height: 300px;
  // overflow-y: auto;

  li {
    &:not(&:last-child) {
      a {
        border-bottom: 1px solid var(--clr-baseText);
      }
    }

    a {
      padding-right: 20px;

      div:first-child {
        flex-basis: 95%;
      }

      .tick {
        content: "";
        display: block;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        position: absolute;
        right: 10px;
        background-color: white;
        margin-right: 15px;
        flex-basis: 5%;

      }

      &:hover {
        .tick {
          background-color: #e5e7eb;
        }
      }

      // &::after {
      //   content: "";
      //   display: block;
      //   height: 6px;
      //   width: 6px;
      //   border-radius: 50%;
      //   position: absolute;
      //   right: 10px;
      //   background-color: white;
      //   margin-right: 15px;
      // }
      &:not(&:visited) {
        color: var(--clr-primary);

        .tick {
          background-color: var(--clr-primary);
        }

        // &::after {
        //   background-color: var(--clr-primary);
        // }
      }
    }
  }
}