.page-title{
    min-height: 200px;
    background-image: url(../assets/images/hero-slide-1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.311);
    background-blend-mode: soft-light;
}