@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  color: var(--clr-baseText);
  margin: 0;
  padding: 0;
  font: 16px var(--ff-body);
  position: relative;
}
html *:focus,
body *:focus {
  box-shadow: none;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --clr-primary: hsl(70, 72%, 54%);
    --clr-secondary: hsl(70, 71%, 8%);
    --clr-secondary-200:hsl(70deg 77% 21%);
    --clr-baseText: hsl(0, 0%, 56%);
    --clr-light: hsl(0, 0%, 98%);
    --clr-light-100: #f6f6f6;
    --clr-light-700: hsl(69, 19%, 79%);
    --clr-light-800: hsl(0, 0%, 69%);
    /* Theming */
    --theme-clr-primary: 70deg 72% 54%;
    --on-theme-clr-primary: 70deg 77% 21%;
    --theme-clr-secondary: 70deg 71% 8%;
    --on-theme-clr-secondary: 0deg 0% 100%;
    --theme-clr-light: 0deg 0% 98%;
    --on-theme-clr-light: 0 0% 56%;
    --theme-clr-light-100: 0deg 0% 96%;
    --on-theme-clr-light-100: var(--theme-clr-secondary);
    --theme-clr-light-700: 69deg 19% 79%;
    --theme-clr-light-800: 0deg 0% 69%;
  }
}
:root {
  /* TYPOGRAPHY */
  --ff-primary: "Nunito Sans", sans-serif;
  --ff-secondary: "Nunito Sans", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-secondary);
}

.ff-title {
  font-family: var(--ff-secondary);
}

.ff-body {
  font-family: var(--ff-body) !important;
}

ul.breadcrumb {
  --space: 10px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: var(--space);
  color: white;
}
ul.breadcrumb li {
  font-size: 1.5em;
  text-transform: uppercase;
}
ul.breadcrumb li ::after {
  content: "/";
  margin-left: var(--space);
  display: inline-block;
}

.iti.iti--allow-dropdown {
  display: block;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.iti.iti--allow-dropdown.iti--show-flags {
  width: 100%;
}
.iti.iti--allow-dropdown.iti--show-flags .iti__tel-input {
  padding-left: 50px !important;
  width: 100%;
}

.iti .iti__country-container {
  display: none;
}

.intl-tel-input {
  width: 300px;
  background-color: red;
}

::backdrop {
  z-index: 60;
}

.iti--container {
  position: absolute;
  top: -1000px;
  left: -1000px;
  z-index: 106020000;
  padding: 1px;
}

.notification-list li:not(.notification-list li:last-child) a {
  border-bottom: 1px solid var(--clr-baseText);
}
.notification-list li a {
  padding-right: 20px;
}
.notification-list li a div:first-child {
  flex-basis: 95%;
}
.notification-list li a .tick {
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  background-color: white;
  margin-right: 15px;
  flex-basis: 5%;
}
.notification-list li a:hover .tick {
  background-color: #e5e7eb;
}
.notification-list li a:not(.notification-list li a:visited) {
  color: var(--clr-primary);
}
.notification-list li a:not(.notification-list li a:visited) .tick {
  background-color: var(--clr-primary);
}

.page-title {
  min-height: 200px;
  background-image: url(../assets/images/hero-slide-1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.311);
  background-blend-mode: soft-light;
}

nav .link:not(:last-child):hover {
  color: var(--clr-primary);
}
nav .link:last-child {
  background: var(--clr-primary);
  display: block;
}
nav [aria-current=page] {
  color: var(--clr-primary);
  position: relative;
}
nav [aria-current=page]::after {
  content: "";
  display: block;
  height: 3px;
  background-color: var(--clr-primary);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero-carousel .owl-dots {
  display: none;
}

.page-loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(237, 241, 248, 0.7);
  z-index: 99999;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.page-loader.show {
  display: flex;
}

.tracking-status-list {
  padding-left: 10px;
}
.tracking-status-list .status {
  position: relative;
}
.tracking-status-list .status:not(.tracking-status-list .status:last-child) {
  padding-bottom: 1em;
  border-left: 1px solid var(--clr-secondary-200);
}
.tracking-status-list .status:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px gray;
}
.tracking-status-list .status.passed::before {
  background-image: url(../assets/icons/icon-tick-primary.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--clr-secondary-200);
  border: 4px solid var(--clr-secondary-200);
  left: -12px;
}
.tracking-status-list .status.current::before {
  background-color: var(--clr-primary);
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 3px #ecebe9;
  left: -12px;
}

.info-tabs .nav-list {
  display: flex;
  align-items: stretch;
  margin: 0 auto;
}
.info-tabs .nav-list li {
  flex-basis: 33.3333333333%;
  padding: 10px 0;
}
.info-tabs .nav-list li a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  position: relative;
  font-weight: bold;
}
.info-tabs .nav-list li a[aria-current=document] {
  color: var(--clr-primary);
}
.info-tabs .nav-list li a[aria-current=document]::after {
  content: "";
  display: block;
  height: 3px;
  background-color: var(--clr-primary);
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
}

:root {
  --max-width: 1200px;
  --padding: 0.5rem;
}

.main-container {
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.fade-in {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}
.fade-in.appear {
  opacity: 1;
}

.from-left,
.from-right,
.from-bottom {
  transition: transform 1000ms ease-in-out;
  position: absolute;
  opacity: 0;
}
.from-left.appear,
.from-right.appear,
.from-bottom.appear {
  position: relative;
  transform: translateX(0);
  opacity: 1;
}

.from-left {
  transform: translateX(-5em);
}

.from-right {
  transform: translateX(5em);
}

.from-top {
  transform: translateY(-50%);
}

.from-bottom {
  transform: translateY(50%);
}

.required {
  display: flex;
  gap: 2px;
}
.required:after {
  content: "*";
  height: 2px;
  width: 2px;
  display: block;
  color: rgb(239, 68, 68);
}

.after-angle-bracket-primary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.after-angle-bracket-primary::after {
  content: url(../assets/icons/icon-angle-right-primary.svg);
  display: block;
  color: red;
  height: 3px;
  width: 3px;
}

/*# sourceMappingURL=main.css.map */
